*{

	padding: 0px;
	background-color: red;

}

h1{

	color:green;
}

#container{
   width: 100vw;
   height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.lista-menu{
	list-style: none;
	
}